.footer
  .footer-heading.footer-1(style='margin-left: 20px;')
    | Biuro podr&oacute;&zdot;y, 2022
  .footer-heading.footer-2
    | O firmie
  .footer-heading.footer-3
    | Polityka prywatno&sacute;ci
  .footer-heading.footer-4(style='margin-right: 20px;')
    | Kontakt