.header
  .button(style='margin-left: 20px;')
    | Logowanie
  .footer-heading.footer-2
    | Wycieczki lotnicze
  .footer-heading.footer-3
    | Wycieczki autokarowe
  .footer-heading.footer-4(style='margin-right: 20px;')
    | Moje konto