<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <!-- <link rel="stylesheet" type="text/css" href="public/css/style.css"> -->
        <title>wycieczka</title>
    </head>
    <body>

        <div class="header">
            <div class="button" style="margin-left: 20px;">
                Logowanie
            </div>
            <div class="footer-heading footer-2">
                Wycieczki lotnicze
            </div>
            <div class="footer-heading footer-3">
                Wycieczki autokarowe
            </div>
            <div class="footer-heading footer-4" style="margin-right: 20px;">
                Moje konto
            </div>
        </div>

        <br>
        <br>

        <div class="column-layout">
            <div class="main-column">
                <div class="main-column-one">
                    <div id="zdjecie-2">
                        <img src = "https://fwcdn.pl/fph/85/00/828500/823194.1.jpg" alt="Girl in a jacket" width = 220 />
                    </div>
                    <h2 >Szczyt wszystkiego</h2>
                    <p>Krótka wycieczka z wejściem na ten właśnie szczyt. </p>
                    <div id="paragraf">
                        <div >Cena: 150029000</div>
                        <div id="a" class="button" style="margin: 0 0 0 auto;">Zarezerwuj >> </div>
                    </div>
                    
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div id="zdjecie-3">
                        <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Palme_cuba.jpg/1200px-Palme_cuba.jpg" alt="Girl in a jacket" width="220"/>
                    </div>
                    <h2 >Dalekie morza</h2>
                    <p>Mórz jest wiele, więc i opis może być dłuższy niż poprzednio. Atrakcji też może być nieco więcej. </p>
                    <div id="paragraf-1"> 
                        <p>Cena: 150</p>
                        <div id="c" class="button" style="margin: 0 0 0 auto;">Zarezerwuj >> </div>
                    </div>

                    <br>
                    <br>
                    <br>
                    <div id="zdjecie-4">
                        <img src= "https://upload.wikimedia.org/wikipedia/commons/8/88/New-York-Jan2005.jpg" alt="Girl in a jacket" width="220">
                    </div>
                    <h2 >Miasto</h2>
                    <p>Na świecie mamy jeszcze miasta, można je zwiedzać</p>
                    <div id="paragraf-2">
                        <p>Cena: 4382090</p>
                        <div id="c1" class="button" style="margin: 0 0 0 auto;">Zarezerwuj >> </div>
                    </div>
                </div>
                
                

            </div>


            <div class="sidebar"> 
                <div class="promocje">
                    <h3>Promocje: </h3>
                    <h4>Góry wysokie</h4>
                    <div>
                        <p>1-31 lutego</p>
                        <div id="d" class="button">Rezerwuj >> </div>
                    </div>

                    <h4>Inne miejsce</h4>
                    <div>
                        <p>17-18 kwietnia</p>
                        <div id="d1" class="button">Rezerwuj >> </div>
                    </div>

                    <h4>Też gdzieś</h4>
                    <div>
                        <p>w listopadzie</p>
                        <div id="d2" class="button">Rezerwuj >> </div>
                    </div>

                    <h4>Warszawa</h4>
                    <div>
                        <p>ciągle</p>
                        <div id="d3" class="button">Rezerwuj >> </div>
                    </div>
                
                </div>
                <br>

                <div class="porady">
                    <h3>Porady: </h3>
                    <p>Co zabrać na wycieczkę?</p>
                    <p>Kiedy najlepiej wyjechać?</p>
                    <p>Jakie buty są najwygodniejsze?</p>
                </div>
            </div>
        </div>


    
    

    
        

        <div class="footer">
            <div class="footer-heading footer-1" style="margin-left: 20px;">
                Biuro podróży, 2022
            </div>
            <div class="footer-heading footer-2">
                O firmie
            </div>
            <div class="footer-heading footer-3">
                Polityka prywatności
            </div>
            <div class="footer-heading footer-4" style="margin-right: 20px;">
                Kontakt
            </div>
        </div>
        

    
        
    </body>
</html>