<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <!-- <link rel="stylesheet" type="text/css" href="public/css/style.css"> -->
        <title>Strona</title>
    </head>
    <body>

        <div class="header">
            <div class="button" style="margin-left: 20px;">
                Logowanie
            </div>
            <div class="footer-heading footer-2">
                Wycieczki lotnicze
            </div>
            <div class="footer-heading footer-3">
                Wycieczki autokarowe
            </div>
            <div class="footer-heading footer-4" style="margin-right: 20px;">
                Moje konto
            </div>
        </div>

        <br>
        
        <div id="zdjecie">
            <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Palme_cuba.jpg/1200px-Palme_cuba.jpg"  alt="Girl in a jacket" width="220" height="200"/>
        </div>
        <h1>Wspaniała wycieczka</h1>

        <p>To jest opis wycieczki, w którym podkreślone są zalety miejsca, które się odwiedzi. Ponieważ jest to tylko przykład, to nie ma tu konkretnych informacji.</p>

        <h2>Nagłówek z tytułem</h2>
        <p>Tu kolejny fragment tekstu. Może się składać z kilku akapitów. W pierwszej wersji tekst na pewno nie będzie opływał obrazka, ale to poprawimy później. </p>

        <h2>Jeszcze jeden nagłówek</h2>
        <p>I kolejne informacje o wycieczce. Trzeba się wysilić i wymyślić własne. </p>
        <h2>Istotne informacje: </h2>
        <a>
            <ul>
                <li>termin wycieczki: kiedyś w przyszłości</li>
                <li>temperatury w miejscu docelowym: takie w sam raz </li>
                <li>warto zabrać: trochę ubrań na zmianę </li>
                <li>cena wycieczki to: 15002900 </li>
            </ul>
        </a>

        <h2>Program wycieczki: </h2>
        <a>
            <ol>
                <li>Odwiedziny w miejscu</li>
                <li>Obiad</li>
                <li>Wyprawa na szczyt wszystkiego</li>
            </ol>
        </a>
    

        <br>
        <br>

        <a style="display: flex; justify-content: space-between; margin-left: 50px; margin-right: 50px;" >
            <a id="a5" class="button" href="strona_glowna.html"> Powrót </a>
            <div id="a6" class="button"> Zarezerwuj </div>
        </a>

        <div class="footer">
            <div class="footer-heading footer-1" style="margin-left: 20px;">
                Biuro podróży, 2022
            </div>
            <div class="footer-heading footer-2">
                O firmie
            </div>
            <div class="footer-heading footer-3">
                Polityka prywatności
            </div>
            <div class="footer-heading footer-4" style="margin-right: 20px;">
                Kontakt
            </div>
        </div>
    

    
    </body>
</html>